@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body,
html {
  background: #efefef;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: poppins, Helvetica, sans-serif;
  transition: background 1s ease;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}
body {
  overflow: hidden;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.centradovertical {
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}
img {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
ul {
  width: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
ul:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
li {
  display: block;
  float: left;
  position: relative;
}
.li25 {
  width: 25%;
}
.li50 {
  width: 50%;
}
.li75 {
  width: 75%;
}
li img {
  width: 100%;
}
a {
  color: inherit;
}
@keyframes spin {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
.color {
  color: #0b7af3;
}
.color_estrellas {
  background: #0b7af3;
}
label {
  position: relative;
}
input:disabled + label {
  opacity: 0.3;
}
input:disabled {
  pointer-events: none;
}
input:disabled {
  pointer-events: none;
}
input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#imprimir {
  min-height: 168.3779527559rem;
  width: 119.0551181102rem;
  background: #fff;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  font-size: 0;
}
#imprimir * {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#contimprimir {
  padding: 9.4488188976rem;
  padding: 7.5590551181rem;
  min-height: 168.3779527559rem;
  display: inline-block;
  width: 100%;
  opacity: 0;
  transition: 0.5s opacity ease, 0.5s transform ease;
  transition-delay: 0.5s;
  transform-origin: top;
}
.fin_hoja {
  position: absolute;
  top: calc(168.3779527559rem - 9.4488188976rem);
  left: 0;
  width: 100%;
  min-height: 1000rem;
  background: rgba(255, 0, 0, 0.3);
  display: none;
  pointer-events: none;
  opacity: 1;
  animation: blinker 2s linear infinite;
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.sortable {
  list-style-type: none;
  z-index: 99999999;
  position: relative;
}
.sortable .cuadro {
  padding: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  position: relative;
  outline-offset: -4px;
  transform: scale(1);
  transition: outline 0.3s, transform 0.2s ease;
  padding-right: 0.5rem !important;
}
.sortable {
  transition-delay: 0s !important;
  overflow: visible !important;
}

@-moz-document url-prefix() {
  .sortable .cuadro {
    outline: 0 !important;
    border: 2px dashed transparent;
    margin-top: -2px;
    transition: border-color 0.1s ease;
    transition-delay: 0s !important;
  }

  .cuadro {
    border: 2px dashed rgba(0, 0, 0, 0.1);
  }
  .estrellasjuntas .cuadro:nth-child(even) {
    margin-left: -2px;
  }
}
#inserta_imagenlabel {
  font-family: poppins !important;
  font-size: 1rem !important;
  letter-spacing: 0.1rem;
  font-weight: 600;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  color: #fff;
  transition-delay: 0s;
  padding-top: 100%;
  padding-bottom: 100%;
  background: rgba(128, 128, 128, 0);
  opacity: 0.5;
  transition: 0.2s opacity ease, 0.2s background ease;
}
#inserta_imagenlabel img {
  width: 3.5rem;
  position: relative;
  opacity: 1;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}
#inserta_imagenlabel {
  opacity: 1 !important;
  background: rgba(128, 128, 128, 0.5);
}
.experiencialaboral :last-child .timeline_linea {
  display: none;
}
.formacionacademica :last-child .timeline_linea {
  display: none;
}
.timeline_bola {
  width: 2rem;
  height: 2rem;
  background: #000;
  border-radius: 3rem;
  position: absolute;
  z-index: 1;
  left: -2.2rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  border: 0.55rem solid #fff;
}
.timeline_bola:before {
  content: '';
  width: 2rem;
  height: 2rem;
  background: #fff;
}
.timeline_linea {
  position: absolute;
  height: 100%;
  width: 0.3rem;
  background: #000;
  left: 2.1rem;
  top: 2.5rem;
  opacity: 0.2;
}
.eliminar {
  position: absolute;
  right: 6.5rem;
  top: -1rem;
  opacity: 0;
  padding: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #0b7af3;
  border-radius: 10rem;
  z-index: 99999;
  cursor: pointer !important;
  background-image: url(../img/icon_delete.svg);
  background-position: center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -ms-background-size: cover !important;
  -o-background-size: cover !important;
}
.sortable :only-child .eliminar,
.sortable :only-child .mover {
  display: none !important;
}
.eliminar {
  opacity: 1;
}

#estrellas :only-child .eliminar {
  display: none;
}
.clonar {
  position: absolute;
  right: -0.5rem;
  top: -1rem;
  opacity: 0;
  padding: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #0b7af3;
  border-radius: 10rem;
  z-index: 99999;
  cursor: pointer !important;
  background-image: url(../img/icon_add.svg);
  background-position: center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -ms-background-size: cover !important;
  -o-background-size: cover !important;
}

.mover {
  position: absolute;
  top: -1rem;
  right: 3rem;
  opacity: 0;
  padding: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #0b7af3;
  border-radius: 10rem;
  z-index: 99999;
  opacity: 0;
  cursor: move;
  cursor: grab !important;
  cursor: -moz-grab !important;
  cursor: -webkit-grab !important;
  background-image: url(../img/icon_move.svg);
  background-position: center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -ms-background-size: cover !important;
  -o-background-size: cover !important;
}

.clonar,
.eliminar,
.mover {
  transition: 0.2s opacity ease;
}
.labelbotones {
  text-transform: uppercase;
  top: -2rem;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: poppins;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  background: #252525;
  line-height: 1rem;
  z-index: -1;
  -webkit-transition: top 0s linear 0s;
  -moz-transition: top 0s linear 0s;
  -ms-transition: top 0s linear 0s;
  -o-transition: top 0s linear 0s;
  transition: all 0.2s ease;
  transition-delay: 0s !important;
}
.labelbotones:before {
  width: 1rem;
  height: 1rem;
  bottom: -0.3rem;
  margin-left: -0.5rem;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  content: '';
  position: absolute;
  background: #252525;
  left: 50%;
  opacity: 0;
  z-index: -1;
}
.estrellacircular {
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer !important;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.estrellacircular * {
  pointer-events: none;
}

#estrellascircular .cuadro {
  padding: 2.2rem;
}
.innercircleprogress {
  background: #fff;
  border-radius: 100px;
  width: 77%;
  height: 0;
  padding-bottom: 77%;
  margin: 0 auto;
}
.porcentaje25 {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  background: #fff;
  height: 50%;
  opacity: 0;
}
.porcentaje50 {
  position: absolute;
  right: 0;
  top: 50%;
  width: 50%;
  background: #fff;
  height: 50%;
  opacity: 0.75;
}
.porcentaje75 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 50%;
  background: #fff;
  height: 50%;
  opacity: 0.75;
}
.porcentaje100 {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  background: #fff;
  height: 50%;
  opacity: 0.75;
}
.porcentajetexto {
  font-size: 1.3rem;
}
.centradoestrellas {
  width: 15%;
  right: auto;
  left: 2rem;
}
.estrellas {
  display: inline-block;
  border-left: 0;
  width: 25%;
  float: left;
  cursor: pointer !important;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 2px solid #fff;
}

.estrellas div {
  border-radius: 0;
  height: 0%;
  padding-bottom: 16%;
  width: 100%;
  cursor: pointer !important;
}
.estrellasjuntas {
  width: 100%;
}
.estrellasjuntas .cuadro {
  width: 50%;
  display: inline-block;
  float: left;
}
#estrellas1 .centradovertical {
  left: 2rem;
  right: auto !important;
  width: calc(50% - 1.5rem) !important;
}
.check_img_cont {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  float: left;
  margin-right: 2rem;
  left: 2rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}
[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block;
  color: grey;
}
[contenteditable='true'] {
  cursor: text;
  text-align: left;
  transition-delay: 0s !important;
  transition: 0.1s background linear;
}
[contenteditable='true']:focus {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 5px;
}
.nowrap {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.cont_fotodiv {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 30rem;
  background: grey;
  overflow: hidden;
  background-position: 50% 50% !important;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -ms-background-size: cover !important;
  -o-background-size: cover !important;
  cursor: pointer !important;
}
.contacto_item {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}
.contacto_item div {
  background: #fff;
  height: 2rem;
  width: 2rem;
  display: inline-block;
  float: left;
  margin-right: 2rem;
  left: 0.5rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}
.contacto_item .texto {
  margin-left: 3rem !important;
  width: fit-content;
  width: -moz-fit-content;
  width: -ms-fit-content;
}
#facebook .texto,
#instagram .texto,
#linkedin .texto,
#mail .texto,
#skype .texto,
#twitter .texto,
#website .texto {
  border-bottom: 1px solid #000;
}
#centrado_nombre {
  padding-left: 4rem;
}
#nombre_cont span {
  width: 50%;
  padding-bottom: 33.333%;
  display: block;
}
.experiencialaboral .cuadro,
.formacionacademica .cuadro {
  padding-left: 3.5rem;
}
.li75 {
  padding-left: 4rem;
}
#experiencialaboral,
#formacionacademica,
#simple_list1,
#simple_list2 {
  margin-bottom: -1rem;
}
.nombre {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.5rem;
  margin: 0;
  margin-bottom: -3rem;
}
.titulo1 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
  line-height: 1;
  margin: 0;
  margin-top: 2.5rem;
  position: relative;
  z-index: 10;
}
.titulo2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.5rem;
  margin: 0;
}
.titulo3 {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  padding: 0.5rem;
  margin: 0;
}
#intereses .titulo3,
#otros .titulo3 {
  line-height: 1.4;
}
.texto {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 400;
  padding: 0.5rem;
  margin: 0;
}
.fecha {
  position: relative;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.5rem;
  display: inline-block;
  margin: 0;
  margin-top: -0.25rem;
  margin-left: 0.5rem;
  min-width: fit-content;
  display: inline-block;
  float: right;
  float: right;
  position: absolute;
  right: 0;
  right: 0.5rem;
}
.pequeno .nombre {
  font-size: 5rem;
}
.pequeno .titulo1 {
  font-size: 1.55rem;
}
.pequeno .titulo2 {
  font-size: 1.55rem;
}
.pequeno .titulo3 {
  font-size: 1.25rem;
}
.pequeno .fecha,
.pequeno .texto {
  font-size: 1.25rem;
}
#datospersonales .titulo2 {
  margin-top: 0.5rem;
}
#datospersonales .titulo3,
#experiencialaboral .titulo3,
#formacionacademica .titulo3 {
  margin-top: -0.4rem;
}
#nombre,
.li75 .titulo1 {
  margin-left: 1.5rem;
  width: calc(100% - 1.5rem);
}
#perfil .texto {
  margin-top: -0.5rem;
}
#perfil .titulo1 {
  display: block !important;
}
.contacto_item .texto {
  line-height: 1.4;
}
#experiencialaboral .titulo3,
#formacionacademica .titulo3 {
  width: fit-content;
  display: inline-block;
  max-width: 100%;
  text-transform: uppercase;
}
#estrellascircular .titulo3 {
  width: calc(80% - -0.5rem);
  margin-left: calc(15% + 1rem);
  font-weight: 400;
}
#estrellas .titulo3 {
  width: 100%;
  width: calc(50% - 1rem);
  margin-left: calc(50% + 1rem);
  font-weight: 400;
}
#simple_list1 .titulo3,
#simple_list2 .titulo3 {
  margin-left: 2.5rem;
  width: calc(100% - 2.5rem);
  font-weight: 400;
}
.experiencialaboral .texto {
  margin-top: -0.5rem !important;
  text-align: justify;
  width: 100% !important;
  line-height: 1.4;
  font-weight: 400;
  padding: 0.5rem;
  text-transform: none !important;
  display: inline-block;
}
#datospersonales .titulo3 {
  max-width: 100%;
  width: fit-content;
  font-weight: 400;
  line-height: 1.4;
}

.grande .nombre {
  font-size: 7rem;
}
.grande .titulo1 {
  font-size: 2rem;
}
.grande .titulo2 {
  font-size: 2rem;
}
.grande .titulo3 {
  font-size: 1.8rem;
}
.grande .fecha,
.grande .texto {
  font-size: 1.8rem;
}

.moje .nombre {
  font-size: 6.5rem;
}
.moje .titulo1 {
  font-size: 1.95rem;
}
.moje .titulo2 {
  font-size: 1.95rem;
}
.moje .titulo3 {
  font-size: 1.51666666667rem;
}
.moje .fecha,
.moje .texto {
  font-size: 1.51666666667rem;
}

a {
  text-decoration: none;
}
